*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 116px);
}

.height {
  height: 60vh;
}

@media (max-width: 768px) {
  .text-sm {
    text-align: center;
  }
}

.carousel-item{
  position: relative;
}

.carrusel-img{
  position: absolute;
  left: 0;
  right: 0;
  margin: 16vh auto auto auto;
  text-align: center;
  width: 280px;
  font-size: 5rem;
  color: white;
}

.nav-link{
  font-size: 1.4rem;
}

.marker{
  list-style-type: none;
}

.pasajeros{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 20px;
}

.pasajeros input{
  width: 60px;
  text-align: center;
}

.pasajeros .fechaActual{
  width: 120px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

.cart-link{
  color: black;
}

.card-img{
  height: 170px;
  max-width: 287px;
}

.destino-carrito{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.destino-details{
  width: 300px;
  text-align: center;
  font-size: 1.3rem;
  padding: 10px;
}

.total{
  font-size: 1.3rem;
}

.total-carrito{
  display: flex;
  justify-content: space-around;
  margin: 0px 300px 40px 300px;
}

.undefined{
  list-style: none;
  font-size: 2rem;
  margin-bottom: 210px;
  text-align: center;
}

#resultado, #hotel{
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 70vw;
}

.contenedorResultado{
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-carrito{
  height: 92.5vh;
}

.modal-content{
  width: 80vw;
}

.cartt{
  margin: 10px;
}

.modal-dialog{
  max-width: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTitle{
  text-align: center;
}

.contact-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form{
  display: grid;
  text-align: center;
  width: 50%;
}

label{
  display: flex;
  justify-content: center;
}

.contact-button{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.swal-footer  {
  text-align: center;
}

.titulos{
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
}


